# Classificação - Titanic Dataset

## Importando bibliotecas

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

## Importando os dados

In [2]:
data_resultados_teste = pd.read_csv('titanic_data\gender_submission.csv')

In [3]:
data_treino = pd.read_csv(r"titanic_data/train.csv")

In [4]:
data_teste = pd.read_csv(r"titanic_data\test.csv")

## Conhecendo os dados

In [5]:
data_treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
dicionario = {
    "Survived": {'sim' : 1, 'Não' : 0},
    "Pclass": {'1st': 1, '2nd': 2, '3rd':3},
    "sibsp" : 'of siblings / spouses aboard the Titanic',
    "parch": 'of parents / children aboard the Titabnic',
    "Embarked": { 'Cherbourg':'C',  'Queenstown':'Q', 'Southampton':'S' }
}

In [7]:
data_treino.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
nulos = data_treino.isnull().sum()
nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

impacto da remoção dos nulos dos dados

In [9]:
soma_nulos = nulos['Age'] + nulos['Cabin']
porcento_nulos = (soma_nulos*100)/len(data_treino)
porcento_nulos

96.96969696969697

In [10]:
print(f'Os nulos representam {porcento_nulos :.2f} dos dados')

Os nulos representam 96.97 dos dados

Opções: 1- Não utilizar as colunas com dados nulos     2- Preencher os dados com estimativas

### Opção 2 - preenchendo os dados

In [11]:
cabine = data_treino[['Cabin','Fare','Pclass']]
cabine_normalizado = cabine[cabine.Cabin.notnull()]

In [12]:
classe = []
for i in cabine_normalizado['Cabin']:

    classe.append(i[0])

In [13]:
cabine_normalizado = cabine_normalizado.drop('Cabin',axis=1,inplace=False)
cabine_normalizado['Cabin'] = np.array(classe)

In [14]:
cabine_normalizado.groupby(['Cabin','Pclass'])['Fare'].mean()

Cabin  Pclass
A      1          39.623887
B      1         113.505764
C      1         100.151341
D      1          63.324286
       2          13.166675
E      1          55.740168
       2          11.587500
       3          11.000000
F      2          23.750000
       3          10.611660
G      3          13.581250
T      1          35.500000
Name: Fare, dtype: float64

In [15]:
cabine_normalizado.groupby(['Cabin','Pclass'])['Fare'].std()

Cabin  Pclass
A      1          17.975333
B      1         109.301500
C      1          70.225588
D      1          26.172260
       2           0.420829
E      1          30.386910
       2           1.283469
       3           2.554775
F      2          11.631239
       3           6.566714
G      3           3.601222
T      1                NaN
Name: Fare, dtype: float64

In [16]:
media_cabine = cabine_normalizado.groupby(['Cabin','Pclass'])['Fare'].mean()
desvio_cabine = cabine_normalizado.groupby(['Cabin','Pclass'])['Fare'].std()

In [17]:
preco = []

for key in media_cabine.index:
    preco.append((media_cabine[key]-desvio_cabine[key],media_cabine[key]+desvio_cabine[key]))

In [19]:
preco

[(21.648553705599205, 57.59921962773412),
 (4.204263573663951, 222.80726408591053),
 (29.925752316408477, 170.37692903952373),
 (37.1520258839799, 89.4965465298132),
 (12.745845791769392, 13.587504208230607),
 (25.35325787531638, 86.12707812468363),
 (10.304031392410915, 12.870968607589086),
 (8.445225058835906, 13.554774941164094),
 (12.118761274665786, 35.381238725334214),
 (4.0449458461784715, 17.17837415382153),
 (9.98002769592971, 17.18247230407029),
 (nan, nan)]

In [18]:
desvio_cabine['E'][3]

2.554774941164094